<h1 align="center">Editing picture</h1>

<%= render 'form' %>
<div class="row" style="margin-top: 300px" align="center">
<div class="col-md-6">
<%= link_to 'Show', @picture, :class=>"btn btn-primary" %> 
</div>
<div class="col-md-6">
<%= link_to 'Back', pictures_path,:class=>"btn btn-primary" %>
</div>
</div>
