body{
  height: 100%;
  overflow: hidden;
}

html{
  height: 100%;
}

.navbar-toggle span{
  background-color: white;
}
.navbar-toggle{
  border: 1px solid white !important;
}

#navbar-links{
  background-color: #2bb8aa;
  position: absolute;
  right:0px;
  height: auto;
  padding-left: 0px;
}

/*layout*/
.nav-custom{
	background-color:#2bb8aa;
}
.navbar-brand{
	color:white !important;
}
#nav-log{
  margin:0px;
  min-width: 100px;
}

#nav-log a{
	color:white !important;
}
#nav-log a:hover{
	background-color: #49beac;
}
#Maincontainer>h2{
	color: #2bb8aa;
}
.btn-custom{
	color: white;
	background-color: #2bb8aa;
	border-color:#49beac;
	width: 40%;
	float: right;
}
.btn-custom:hover{
	background-color:#49beac;
}
#loginbox,
#sign_up_container{
	margin-top: 10%;
	width: 45%;
	margin-left: 27.5%;
}
#sign_up_container{
	margin-top: 5%;
}
#loginbox .panel-heading {
	background-color: #2bb8aa;
}
#loginbox .panel-title,
#sign_up_container .panel-title{
	color: #2bb8aa;
	font-size:18px;
	padding: 20px 0;
}
#loginbox .panel-body
#sign_up_container .panel-body{
	padding: 25px 15px;	
}
#loginbox .panel,
#sign_up_container .panel{
	border-radius: 0;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
}

#loginbox .input-group>span,
#loginbox .input-group>input,
#loginbox .form-group>input,
#sign_up_container .input-group>span,
#sign_up_container .input-group>input,
#sign_up_container .form-group>input{
	border-radius: 0;
}
#loginbox .controls a,
#sign_up_container .controls a{
	text-decoration:underline;
	color: #2bb8aa;
}
#sign_up_container .input-group{
	margin-bottom: 7%;
}
.blur {    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);    
}
/*homepage*/
.carousel_image{
	margin:0 auto;
	display:block;
	width: 100%;
	max-height: 400px;
}
#majikCarousel{
	margin-top: 20px;
}
#introduction{
	margin-top:20px;
	height: 400px;
}
#introduction h3{
	font-family: fantasy;
	font-weight: bold;color: #2bb8aa;
	padding: 15px 0;
}
/*register page*/
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
}
/*
 /picture
 */
.img-responsive img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  margin-bottom:20px;
  max-width: 100%;
}

.img-responsive img:hover {
  filter: none; /* IE6-9 */
  /*-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}

.btn-custom{
  background-color: #2bb8aa;
  color: white !important;
  border-radius: 0px !important;
  border:1px solid #49beac;
}

.back{
  margin-left: 3%;
  float: left;
  width:80px; 
}

.user-panel .info{
  text-align: center;
  margin-bottom: 10%;
}
.gallery
{
    /*display: inline-block;*/
   margin-top: 20px;
}

.gallery .fancybox p{
  color: grey;
  font-size: 15px;
}

.icon-list ul{
  list-style: none;
  padding-left: 0px;
  width: 100%;
}
.icon-list li{
  display:inline;
  font-size: 18px;
  padding-right: 5px;  
}

.icon-list li span{
  color: #2bb8aa;
}

.thumbnail{
  /*min-height: 292px;*/
  border-radius: 0px !important;
}

/*.icon-list{
  bottom: 27px;
  position: absolute;
}*/
/*share page*/
.c-search > .form-control {
   border-radius: 0px;
   border-width: 0px;
   border-bottom-width: 1px;
   font-size: 1.3em;
   padding: 12px 12px;
   height: 44px;
   outline: none !important;
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
   border-radius: 0px;
   border-width: 0px;
   border-left-width: 1px;
   border-bottom-width: 1px;
   height: 44px;
}

.c-list {
    padding: 0px;
    min-height: 44px;
}
.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}
.name {
    font-size: 16px;
    font-weight:normal;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

.main-sidebar,
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  padding-top: 20px;
  min-height: 100% !important;
  width: 230px;
  background-color: #eee;
  z-index: 810;
}

.mainContent{
  width: calc(100% - 230px);
  height: calc(100% - 71px);
  float:right;
}
.mainContent .container{
  height: 100%;
}
/*.mainContent .container .row:nth-child(2){
  height: calc(100% - 50px);
  overflow: auto;
}*/

#picture_gallery{
  height: calc(100% - 50px);
  overflow: auto;
}

.input-group-btn input{
  border-radius: 0px;
  border-color: #49beac;
}

.input-group-btn input:nth-child(2){
  background-color: #2bb8aa;
  color: white;
}

.search{
  padding-bottom: 10px;
}

.user-panel .image{
  margin-bottom: 3%;
}

.sider-list .btn{
  width: 100%;
  height: 60px;
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  line-height: 3;
}
.sider-list .btn:hover{
  background-color: #ddd;
}

.sider-list .btn span:nth-child(1){
  font-size: 18px;  
}

.sider-list .btn span:nth-child(2){
  font-size: 16px;
  padding-left: 8px;
}

.img-circle{
	max-width: 60px;
  margin: 0 auto;
  display: table;
  background-color: white;
}

.sidebar {
  padding-bottom: 10px;
}

.filter_list{
  list-style: none;
}

.filter_list li input{
  width: 15%;
  min-width: 100px;
  border-radius: 0px;
  border:1px solid #2bb8aa;
  background-color: #2bb8aa;
}

@media(max-width: 768px){
  .main-sidebar{
    width: 50px;
    overflow: hidden;
  }
  .user-panel .info{
    display: none;
  }
  .mainContent{
    width: calc(100% - 50px);
  }
    .img-circle{
    width: 45px;
  }
  .sider-list .btn span:nth-child(2){
    display: none;
  }
  .sider-list .btn{
    text-align: center;
  }

}

@media(max-width: 1920px){
 .mainContent .container{
    width: 100% !important;
  }
}

@media(min-width: 1920px){
  .mainContent .container{
    width: 80% !important;
  }
}



